@using System.Data
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "相簿維護";
    ViewBag.subnav = "n2";
    ViewBag.subnav2 = "n2-1";

    //變數設定

    DataTable d_activity = (DataTable)ViewData["d_activity"];
    DataTable d_activity_img = (DataTable)ViewData["d_activity_img"];

    string act_id = "";
    string act_name = "";
    string act_desc = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string c_status = "";
    string c_sort = "";
    string c_front_status = "";
    string img_no = "";
    string img_path = "../Images/";
    string big_img = "";
    string img_id = "";
    string img_desc = "";
    string img_count = "";
    string img_is_index = "";

    img_no = DateTime.Now.ToString("yyyyMMddHHmmss");
    img_count = d_activity_img.Rows.Count.ToString();

    if (action_sty == "add")
    {
        action_name = "新增";

        act_id = "";
        act_name = "";
        act_desc = "";
        c_status = "Y";
        c_front_status = "";
        c_sort = "0";


    }
    else if (action_sty == "edit")
    {
        action_name = "修改";

        act_id = d_activity.Rows[0]["act_id"].ToString();
        act_name = d_activity.Rows[0]["act_name"].ToString();
        act_desc = d_activity.Rows[0]["act_desc"].ToString();
        c_status = d_activity.Rows[0]["status"].ToString();
        c_sort = d_activity.Rows[0]["sort"].ToString();

        switch (c_status)
        {
            case "Y":
                c_front_status = "checked";
                break;
            case "N":
                c_front_status = "";
                break;
        }
    }

}

@section scripts {
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>活動剪影管理 &#10095;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">@action_name</small></h3>

@* 引用 ajaxfileupload *@
<script src="~/Scripts/ajaxfileupload.js"></script>

<script>
    function form_ok() {
        var is_index = $('#is_index').val();
        //alert("is_index:" + is_index);
        form1.submit();
    }

    function del_img(img_id,c_sty)
    {
        var cimg_no = "";
        if ($("#act_id").val().length > 0) {
            cimg_no = $("#act_id").val();
        }else {
            cimg_no = @img_no;
        }

        $.ajax({                
            url: 'Img_Del',
            data: { img_id: img_id, img_sta:c_sty, img_no: cimg_no  }, //此参数非常严谨，写错一个引号都不行
            type:"POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function(JData){
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                i = 0;
                c_html = "";
                c_html += "<table class=\"uploader m-t-32\">";
                c_html += "  <colgroup>";
                c_html += "    <col style=\"width: 15%\">";
                c_html += "    <col span=\"3\">";
                c_html += "</colgroup>";
                c_html += "<tr>";
                c_html += "    <th>圖片</th>";
                c_html += "    <th>圖說</th>";
                c_html += "    <th>封面圖</th>";
                c_html += "    <th class=\"item-edit\">刪除</th>";
                c_html += "</tr>";

                $.each($.parseJSON(data), function (idx, obj) {
                    i = i + 1;
                    c_html = c_html + "<tr>";
                    c_html = c_html + "    <td>";
                    c_html = c_html + "        <input  type=\"hidden\" name=\"img_id[]\" id=\"img_id[]\" value=\"" + obj.img_id + "\" />";
                    c_html = c_html + "        <img id=\"img_B_" + i + "\" name=\"img_B_" + i + "\" src=\"../Images/" + obj.img_file + "\" alt=\"\">";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "    <td>";
                    c_html = c_html + "        <input type=\"text\" name=\"img_desc[]\" id=\"img_name[]\" class=\"form-element\" value=\"" + obj.img_desc + "\">";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "    <td>";

                    c_html = c_html + "       <label class=\"switch\">";
                    c_html = c_html + "           <input type=\"radio\" name=\"is_index\" id=\"is_index\" value=\"" + obj.img_id + "\"";
                    if(obj.is_index == "Y")
                    {
                        c_html = c_html + " checked ";
                    }
                    c_html = c_html + ">";
                    c_html = c_html + "        <div class=\"slider round\"></div>";
                    c_html = c_html + "       </label>";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "    <td class=\"item-edit\">";
                    c_html = c_html + "        <button class=\"btn-link text-danger hover-text-danger oi\" id=\"btn_close_B_" + i + "\" name=\"btn_close_B_" + i + "\" title=\"刪除\" data-glyph=\"trash\" onclick=\"del_img('" + obj.img_id + "','');\"></button>";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "</tr>";
                });
                c_html += "</table>";
                $('#img_count').val(i);
                $('#images_container').html(c_html);
            },
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError); 
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }

    function upload(c_sty)
    {
        if ($("#pic_B").val().length > 0) {
            //ajaxFileUpload('pic_small','small_img');
            ajaxFileUpload(c_sty);
        }
        else {
            alert("請選擇圖片");
        }
    }

    function ajaxFileUpload(c_sty) {
        var cimg_no = "";
        //var c_img = "pic_" + c_sty;
        var c_img = "pic_B";

        if ($("#act_id").val().length > 0) {
            cimg_no = $("#act_id").val();
        }else {
            cimg_no = @img_no;
        }

        var chtml = "";
        var i = 0;
        $.ajaxFileUpload
        (
            {
                url: 'Upload', //用于文件上传的服务器端请求地址
                type: 'post',
                data: { img_no: cimg_no, img_sta:c_sty }, //此参数非常严谨，写错一个引号都不行
                secureuri: false, //一般设置为false
                //fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                fileElementId: c_img, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                //dataType: 'HTML', //返回值类型 一般设置为json
                dataType: 'JSON', //返回值类型 一般设置为json
                success: function (JData, status)  //服务器成功响应处理函数
                {
                    //alert(JData);

                    data = handleAjaxVPNMsg(JData);

                    i = 0;
                    c_html = "";
                    c_html += "<table class=\"uploader m-t-32\">";
                    c_html += "  <colgroup>";
                    c_html += "    <col style=\"width: 15%\">";
                    c_html += "    <col span=\"3\">";
                    c_html += "</colgroup>";
                    c_html += "<tr>";
                    c_html += "    <th>圖片</th>";
                    c_html += "    <th>圖說</th>";
                    c_html += "    <th>封面圖</th>";
                    c_html += "    <th class=\"item-edit\">刪除</th>";
                    c_html += "</tr>";

                    $.each($.parseJSON(data), function (idx, obj) {
                        i = i + 1;

                        c_html = c_html + "<tr>";
                        c_html = c_html + "    <td>";
                        c_html = c_html + "        <input  type=\"hidden\" name=\"img_id[]\" id=\"img_id[]\" value=\"" + obj.img_id + "\" />";
                        c_html = c_html + "        <img id=\"img_B_" + i + "\" name=\"img_B_" + i + "\" src=\"../Images/" + obj.img_file + "\" alt=\"\">";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "    <td>";
                        c_html = c_html + "        <input type=\"text\" name=\"img_desc[]\" id=\"img_name[]\" class=\"form-element\" value=\"" + obj.img_desc + "\">";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "    <td>";

                        c_html = c_html + "       <label class=\"switch\">";
                        c_html = c_html + "           <input type=\"radio\" name=\"is_index\" id=\"is_index\" value=\"" + obj.img_id + "\"";
                        if(obj.is_index == "Y")
                        {
                            c_html = c_html + " checked ";
                        }

                        c_html = c_html + ">";
                        c_html = c_html + "           <div class=\"slider round\"></div>";
                        c_html = c_html + "       </label>";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "    <td class=\"item-edit\">";
                        c_html = c_html + "        <button class=\"btn-link text-danger hover-text-danger oi\" id=\"btn_close_B_" + i + "\" name=\"btn_close_B_" + i + "\" title=\"刪除\" data-glyph=\"trash\" onclick=\"del_img('" + obj.img_id + "','');\"></button>";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "</tr>";
                    });

                    c_html += "</table>";
                    //alert(c_html);
                    $('#img_count').val(i);
                    $('#images_container').html(c_html);
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }

    function handleAjaxVPNMsg(data) {
        var firstRemoveIndexStart = data.indexOf("<SCRIPT");
        var firstRemoveIndexEnd = data.indexOf("<\/SCRIPT>");
        var newData = data;
        while (firstRemoveIndexStart != -1) {
            firstRemoveIndexStart = newData.indexOf("<SCRIPT");
            firstRemoveIndexEnd = newData.indexOf("<\/SCRIPT>");
            //alert('firstRemoveIndexStart:'+firstRemoveIndexStart);
            if (firstRemoveIndexStart != -1) {
                if (firstRemoveIndexStart == 0) {
                    newData = newData.substr(firstRemoveIndexEnd + 9, newData.length);
                } else {
                    newDataHead = newData.substr(0, firstRemoveIndexStart);
                    newDataTail = newData.substr(firstRemoveIndexEnd + 9, newData.length);
                    //alert('newDataHead'+newDataHead);
                    //alert('newDataTail'+newDataTail);
                    newData = newDataHead + newDataTail;
                }
            }
            //alert(newData);
        }
        //alert("before:second:"+newData);
        var secondeRemoveIndex = newData.indexOf("<\/noscript>");
        //alert(secondeRemoveIndex);
        if (secondeRemoveIndex != -1) {
            newData = newData = newData.substr(0, secondeRemoveIndex);
        }
        //alert(newData);
        return newData;
    }
</script>

@* <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> *@
<link href="~/Content/css/upload_image.css" rel='stylesheet'>
<script src="~/Content/js/upload_image.js"></script>

<div class="alert-warning font-sm">
    <strong>注意事項：</strong> 要上傳的圖片建議寬度不超過1000px，高度不超過800px，檔案大小不超過1MB (1MB=1000kb)，解析度建議設為 72dpi。<br>
    <strong>刪除相簿：</strong> 請先將相簿內的圖片全部刪除後，才能刪除相簿。
</div>

<form action="Activity_Save" class="form-list" name="form1" id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="act_id" id="act_id" value="@act_id" />
    <input type="hidden" name="img_no" id="img_no" value="@img_no" />
    <input type="hidden" name="img_count" id="img_count" value="@img_count" />

    <section class="row row-x-0 m-y-48">
        <div class="col-6">
            <dl class="fields">
                <dt class="col-3">名稱</dt>
                <dd class="col-9">
                    <input type="text" name="act_name" id="act_name" value="@act_name" />
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-3">排序</dt>
                <dd class="col-9">
                    <input type="number" value="@c_sort" class="inline" name="act_sort" id="act_sort">
                    <small>數字愈大愈前面</small>
                </dd>
            </dl>
            <dl class="fields">
                <dt class="col-3">前台顯示</dt>
                <dd class="col-9">
                    <label class="switch">
                        <input type="checkbox" name="show" id="show" @c_front_status >
                        <div class="slider round"></div>
                    </label>
                </dd>
            </dl>
        </div>
        <div class="col-6">
            <dl class="fields">
                <dt class="col-3">圖片上傳</dt>
                <dd class="col-9">
                    <input type="file" class="form-element" name="pic_B" id="pic_B" accept="image/*" />
                    <button type="button" class="btn info sm oi m-t-8" data-glyph="data-transfer-upload" name="btn_activity_pic" onclick="upload('');">
                        上傳
                    </button>
                </dd>
            </dl>
        </div>
    </section>

    <fieldset>
        <legend class="text-primary">[ 已上傳圖片 ]</legend>

        @* 拖曳上傳圖片
        <div class="container image-container">
            <table>
                <tr>
                    <td style="width:80%;text-align:left;">
                        @* 瀏覽&上傳檔案
                        <input type="file" class="form-control" name="pic_B" id="pic_B" accept="image/*" style="width:100%;" />
                    </td>
                    <td style="text-align:center;width:100px;">
                        <button type="button" class="btn btn-primary btn-sm col-xs-offset-1" name="btn_activity_pic" onclick="upload('');">
                            上傳
                        </button>
                    </td>
                </tr>
            </table>
        </div> *@
        <div id="images_container" name="images_container">
            @* 上傳完成後的圖片 *@
            @if (d_activity_img.Rows.Count > 0)
            {
                <table class="uploader">
                    <colgroup>
                        <col style="width: 15%">
                        <col span="3">
                    </colgroup>
                    <tr>
                        <th>圖片</th>
                        <th class="text-left">圖說</th>
                        <th>封面圖</th>
                        <th class="item-edit">刪除</th>
                    </tr>
                    @for (int b = 0; b < d_activity_img.Rows.Count; b++)
                    {
                        big_img = img_path + d_activity_img.Rows[b]["img_file"].ToString();
                        img_id = d_activity_img.Rows[b]["img_id"].ToString();
                        img_desc = d_activity_img.Rows[b]["img_desc"].ToString();
                        if(d_activity_img.Rows[b]["is_index"].ToString() == "Y")
                        {
                            img_is_index = "checked";
                        }
                        else
                        {
                            img_is_index = "";
                        }
                        <tr>
                            <td>
                                <input type="hidden" name="img_id[]" id="img_id[]" value="@img_id" />
                                <img id="img_B_@b" name="img_B_@b" src="@big_img" alt="">
                            </td>
                            <td>
                                <input type="text" name="img_desc[]" id="img_desc[]" class="form-element" value="@img_desc">
                            </td>
                            <td>
                                @* 只能選一個 *@
                                <label class="switch">
                                    <input type="radio" name="is_index" id="is_index" value="@img_id" @img_is_index >
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td class="item-edit">
                                <button class="btn-link text-danger hover-text-danger oi" id="btn_close_B_@b" name="btn_close_B_@b" title="刪除" data-glyph="trash" onclick="del_img('@img_id','');"></button>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
        <div id="img" name="img"></div>
    </fieldset>

    <footer class="submit-bar clear m-t-24">
        <button type="button" class="btn success oi" data-glyph="circle-check" onclick="form_ok();">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='ActivityList'">
            回列表
        </button>
    </footer>
</form>