
@{
    ViewBag.Title = "寶程國際物業線上客服";
    ViewBag.BodyClass = "ContactUs";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

@section scripts{
    @* Google reCaptcha 驗證工具 *@
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<script type="text/javascript">
    function form_ok() {
        form1.submit();
    }

    $(function () {
        $("#valiCode").bind("click", function () {

            this.src = "@Url.Content("~/Home/GetValidateCode")?time=" + (new Date()).getTime();
        });
    });
</script>

<section class="wrap p-y-48">
    <h5 class="m-t-0">
        "<strong class="text-danger">*</strong>"號為必填。本線上客服信箱提供各項諮詢服務。
        為能快速回覆問題，請儘可能填寫所有欄位，謝謝。
    </h5>
    @* 收信mail客戶待補 *@
    <form class="m-t-32 text-left" name="form1" id="form1" action="@Url.Content("~/Home/ToMail")" method="post">
     @*<form class="m-t-32 text-left">*@

            <dl class="fields">
                <dt class="col-2">姓名 <strong class="text-danger">*</strong></dt>
                <dd class="col-8"><input type="text" name="txt_name" id="txt_name" value=""></dd>
            </dl>
            <dl class="fields">
                <dt class="col-2">電子信箱 <strong class="text-danger">*</strong></dt>
                <dd class="col-8"><input type="email" name="txt_email" id="txt_email" value=""></dd>
            </dl>
            <dl class="fields">
                <dt class="col-2">連絡電話 <strong class="text-danger">*</strong></dt>
                <dd class="col-8"><input type="tel" id="txt_tel" name="txt_tel" value=""></dd>
            </dl>
            <dl class="fields">
                <dt class="col-2">傳真電話 <strong class="text-danger">*</strong></dt>
                <dd class="col-8"><input type="text" id="txt_fax" name="txt_fax" value=""></dd>
            </dl>
            <dl class="fields">
                <dt class="col-2">問題說明 <strong class="text-danger">*</strong></dt>
                <dd class="col-8"><textarea id="txt_question" name="txt_question"></textarea></dd>
            </dl>
            <dl class="fields">
                <dt class="col-2">驗證碼 <strong class="text-danger">*</strong></dt>
                <dd class="col-8">
                    <input type="text" class="m-b-12" name="ValidCode" id="ValidCode" value="" placeholder="請輸入下圖所看到的文字" required>
                    @*<div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>*@
                    <img id="valiCode" style="cursor: pointer;height:30px;" src="@Url.Content("~/Home/GetValidateCode")" alt="驗証碼" />
                    @*<a href="" class="oi inline-block m-t-4" data-glyph="reload">看不懂，重新產生</a>*@
                </dd>
            </dl>
            <footer class="text-center m-y-48">
                <button class="btn lg" id="btn_ok" name="btn_ok" onclick="form_ok();">送出</button>
                <button class="btn lg info m-l-12">取消</button>
            </footer>
        </form>
</section>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
    </script>
}