
<nav class="wrap service-nav">
    <a href="~/Home/Security" class="@(ViewBag.SubNav == "Security" ? "active" : "")">
        安全防護
    </a>
    <a href="~/Home/Affair" class="@(ViewBag.SubNav == "Affair" ? "active" : "")">
        事務管理
    </a>
    <a href="~/Home/Equipment" class="@(ViewBag.SubNav == "Equipment" ? "active" : "")">
        設備維護
    </a>
    <a href="~/Home/Clean" class="@(ViewBag.SubNav == "Clean" ? "active" : "")">
        環保清潔
    </a>
    <a href="~/Home/Park" class="@(ViewBag.SubNav == "Park" ? "active" : "")">
        停車管理
    </a>
</nav>
